.global {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  box-shadow: 2px 2px grey
}

@media only screen and (max-width: 767px) {
  .med-query {
    margin: 0px auto;
    padding-top: 30px;    
  }
}
